*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 html,body,#root{
  height: 100%;
  width: 100%;
 }

html{
  background-color: #212121;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.note{
  background-color: #494949;
  padding : 1rem;
  border-radius: 0.5rem;
  color: #fff;
  max-width: 20rem;
  margin: 1rem;
}
.notes{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
  padding-inline: 3rem;
}